<ul class="nav navbar-top-links navbar-right">
    <!-- 登陆用户信息 -->
    <li class="dropdown pull-right">

        <a class="dropdown-character"><span>{{user.role.name}}</span></a>
        <span class="vertical">|</span>

        <a class="dropdown-name"><span class="glyphicon glyphicon-user"></span> {{user.manager.name}}</a>
        <!--出于性能的考虑，所有图标都需要一个基类和对应每个图标的类。把下面的代码放在任何地方都可以正常使用。
        注意，为了设置正确的内补（padding），务必在图标和文本之间添加一个空格。-->
        <span class="vertical">|</span>

        <a class="dropdown-toggle dropdown-close" ng-click="logout()">
            <span class="glyphicon glyphicon-off"></span> 退出
        </a>

        <!--<ul class="dropdown-menu dropdown-ptteng-user" role="menu" aria-labelledby="single-button">-->
        <!--<li><a href="#"><i class="fa fa-ptteng-user fa-fw"></i> 用户信息</a></li>-->
        <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> 用户设置</a></li>-->
        <!--<li class="divider"></li>-->
        <!--<li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> 注销</a>-->
        <!--</li>-->
        <!--</ul>-->
    </li>
    <!--ul标签之外不能有如何内容(包括注释),ul标签之内可以?
    同理ptteng-sidebar-0.0.1.html文件
    <div class="sidebar ng-isolate-scope" role="navigation">
    标签之外也不能有任何内容(包括注释),
     <div class="sidebar ng-isolate-scope" role="navigation">
     标签之内可以-->
</ul>
