<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown pull-right">
        <a class="dropdown-character"><span>{{user.role.name}}</span></a>
        <span class="vertical">|</span>
        <a class="dropdown-name"><span>{{user.manager.name}}</span></a>
        <span class="vertical">|</span>
        <a class="dropdown-toggle dropdown-close" ng-click="logout()">
            <i class="fa fa fa-power-off"></i>
        </a>
        <!--<ul class="dropdown-menu dropdown-ptteng-user" role="menu" aria-labelledby="single-button">-->
        <!--<li><a href="#"><i class="fa fa-ptteng-user fa-fw"></i> 用户信息</a></li>-->
        <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> 用户设置</a></li>-->
        <!--<li class="divider"></li>-->
        <!--<li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> 注销</a>-->
        <!--</li>-->
        <!--</ul>&ndash;&gt;-->
    </li>
</ul>

