<div class="panel panel-default">
    <div class="form-horizontal">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">公司名称</label>
                        <div class="col-md-8">
                            <input class="form-control" ng-model="vm.searchParams.name">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">公司行业</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.industry">
                                <option value="">全部</option>
                                <option value="0">移动互联网</option>
                                <option value="1">电子商务</option>
                                <option value="2">企业服务</option>
                                <option value="3">O2O</option>
                                <option value="4">教育</option>
                                <option value="5">金融</option>
                                <option value="6">游戏</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">产品名称</label>
                        <div class="col-md-8">
                            <input class="form-control" ng-model="vm.searchParams.product">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">认证状态</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.approved">
                                <option value="">全部</option>
                                <option value="0">未认证</option>
                                <option value="1">已认证</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">冻结状态</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.freezed">
                                <option value="">全部</option>
                                <option value="0">正常</option>
                                <option value="1">冻结</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">融资规模</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.financing">
                                <option value="">全部</option>
                                <option value="0">无需融资</option>
                                <option value="1">天使轮</option>
                                <option value="2">A轮</option>
                                <option value="3">B轮</option>
                                <option value="4">C轮</option>
                                <option value="5">D轮及以上</option>
                                <option value="6">上市公司</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--地区选择-->
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-2 word-spacing-25">地 区</label>
                        <div class="col-md-10">
                            <city-select select-result="vm.searchParams.address"></city-select>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-right ">
                    <search params="vm.searchParams"></search>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <!--公司列表-->
    <div class="panel-heading">
        公司列表
        <button type="button" class="btn btn-sm btn-info pull-right margin-left-10" ui-sref="field.companyDetail">
            <i class="fa fa-plus"></i> 新增
        </button>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped add-table-border">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>公司名称</th>
                    <th>公司行业</th>
                    <th>地区</th>
                    <th>融资规模</th>
                    <th>认证状态</th>
                    <th>冻结状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="company in vm.companyList track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{company.name}}</td>
                    <td>{{company.industryList[0]|companyIndustryFilter}}</td>
                    <td>{{company.city|cityFilter}}-{{company.county|countyFilter}}</td>
                    <td>{{company.financing|companyFinancingFilter}}</td>
                    <td>{{company.approved|approvedStatusFilter}}</td>
                    <td>{{company.freezed|freezedStatusFilter}}</td>
                    <td>
                        <button class="btn btn-xs btn-primary"
                                ui-sref="field.positionList({companyId:company.id,companyName:company.name})">职位
                        </button>
                        <buttona class="btn btn-xs btn-default"
                                 ng-click="vm.approveCompany(company.id,1,company.approved)">
                            {{company.approved|changeApprovedStatusFilter}}
                        </buttona>
                        <button class="btn btn-xs btn-info" ui-sref="field.companyDetail({companyId:company.id})">
                            <i class="fa fa-edit"></i> 编辑
                        </button>

                        <button class=" btn btn-xs btn-warning"
                                ng-click="vm.freezeCompany(company.id,0,company.freezed)">
                            {{company.freezed|changeFreezedStatusFilter}}
                        </button>
                        <button class="btn-xs btn btn-danger" href=""
                                ng-click="vm.delCompany(company.id,$index)">
                            <i class="fa fa-remove"></i> 删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="text-center text-warning">{{vm.warning}}</p>
        <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
    </div>
</div>
