<div class="panel panel-default" ng-if="!vm.searchParams.companyId">
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row pd-bottom-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">在招公司</label>
                        <div class="col-md-8">
                            <input class="form-control" ng-model="vm.searchParams.companyName">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">职位名称</label>
                        <div class="col-md-8">
                            <input class="form-control" ng-model="vm.searchParams.name">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">工作经验</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.experience">
                                <option value="">全部</option>
                                <option value="0">应届</option>
                                <option value="1">1~2年</option>
                                <option value="2">3~5年</option>
                                <option value="3">6~9年</option>
                                <option value="4">10年及以上</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">发布时间</label>
                        <div class="col-md-8">
                            <input class="form-control" size="20" bs-datepicker autoclose="true"
                                   data-date-format="yyyy-MM-dd" data-date-type="number"
                                   ng-model="vm.searchParams.startAt" data-max-date="{{vm.searchParams.endAt}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 text-center">—</label>
                        <div class="col-md-8">
                            <input class="form-control" size="20" bs-datepicker autoclose="true"
                                   data-date-format="yyyy-MM-dd" data-date-type="number"
                                   ng-model="vm.searchParams.endAt" data-min-date="{{vm.searchParams.startAt}}"
                                   data-max-date="today">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">学历要求</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.education">
                                <option value="">全部</option>
                                <option value="0">大专</option>
                                <option value="1">本科</option>
                                <option value="2">硕士</option>
                                <option value="3">博士及以上</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">职业类别</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.category">
                                <option value="">全部</option>
                                <option value="0">产品</option>
                                <option value="1">运营</option>
                                <option value="2">技术</option>
                                <option value="3">设计</option>
                                <option value="4">测试</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">职业子类</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.subCategory">
                                <option value="">全部</option>
                                <option value="0">产品经理</option>
                                <option value="1">JAVA</option>
                                <option value="2">IOS</option>
                                <option value="3">Android</option>
                                <option value="4">Web前端</option>
                                <option value="5">运维</option>
                                <option value="6">UI设计</option>
                                <option value="7">功能测试</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">薪 资</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.compensation">
                                <option value="">全部</option>
                                <option value="0">8k以下</option>
                                <option value="1">8k~15k</option>
                                <option value="2">16k~25k</option>
                                <option value="3">25k以上</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">状 态</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.status">
                                <option value="">全部</option>
                                <option value="1">上架</option>
                                <option value="0">下架</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pd-bottom-2">
                <div class="col-md-4 pull-right text-right">
                    <search params="vm.searchParams"></search>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong ng-if="!vm.searchParams.companyId">职位列表</strong>
        <strong ng-if="vm.searchParams.companyId">{{vm.searchParams.companyName}}的在招职位</strong>
        <button class="btn btn-xs btn-danger pull-right"
                ui-sref="field.positionDetails({companyId:vm.searchParams.companyId,companyName:vm.searchParams.companyName})"
                ng-show="vm.searchParams.companyId">
            <i class="fa fa-plus"></i>新增
        </button>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-striped add-table-border">
            <thead>
            <tr>
                <th>序号</th>
                <th>在招公司</th>
                <th>职位名称</th>
                <th>职业类别</th>
                <th>薪资</th>
                <th>学历要求</th>
                <th>工作经验</th>
                <th>发布时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in vm.PositionList track by $index">
                <td>{{$index+1}}</td>
                <td>{{data.companyName}}</td>
                <td>{{data.name}}</td>
                <td>{{data.category|positionCategoryFilter}}</td>
                <td>{{data.compensation|positionCompensationFilter}}</td>
                <td>{{data.education|positionEducationFilter}}</td>
                <td>{{data.experience|positionExperienceFilter}}</td>
                <td>{{data.updateAt| date:'yyyy-MM-dd'}}</td>
                <td>{{data.status|positionStatusFilter}}</td>
                <td>
                    <button class="btn btn-xs btn-warning" ng-click="vm.changeStatus(data.status,data.id)">
                        {{data.status|positionStatusChangeFilter|positionStatusFilter}}
                    </button>
                    <button class="btn btn-xs btn-info"
                            ui-sref="field.positionDetails({id:data.id,companyId:data.companyId,companyName:data.companyName})">
                        <i class="fa fa-edit"></i> 编辑
                    </button>
                    <button class="btn btn-xs btn-danger" ng-click="vm.deletePosition(data.id,$index)">
                        <i class="fa fa-remove"></i>删除
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <p class="text-center text-warning">{{vm.warning}}</p>
        <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
    </div>
</div>

