<div class="row pd-top-2">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                角色列表
                <button type="button" class="btn btn-sm btn-info pull-right margin-left-10" ui-sref="field.roleDetail">
                    <i class="fa fa-plus"></i> 新增
                </button>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>角色</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="li in vm.list">
                        <td>{{li.id}}</td>
                        <td>{{li.name}}</td>
                        <td>
                            <button class="btn btn-xs btn-info" ui-sref="field.roleDetail({id: li.id})">
                                <i class="fa fa-edit"></i> 编辑
                            </button>
                            <button class="btn btn-xs btn-danger" ng-click="vm.delete(li.id)">
                                <i class="fa fa-remove"></i> 删除
                            </button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <paging ng-if="vm.page" next="{{vm.page}}"></paging>
        </div>
    </div>
</div>
