<!-- 模态框（﻿Modal﻿） -->
<div class="modal ng-scope top am-fade" tabindex="-1" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" style="font-size: 16px;padding-top: 8px" ng-click="cancel()">
                    <span aria-hidden="true">关闭</span></a>
                <h4 class="modal-title">操作提示</h4>
            </div>
            <div class="modal-body text-center">
                <p>{{title}}</p>
                <p>{{content}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
            </div>
        </div>
    </div>
</div>
